*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(128, 75, 75);
    /* background-color: FFD23F; */
    color: white;
}

header nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size: 30px;
    font-weight: 900;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"],button[type="submit"]{
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

form button[type="submit"]{
    background-color: rgb(201, 77, 77);
    color: antiquewhite;
    cursor: pointer;
}

form button[type="submit"]:hover{
    background-color: rgb(163, 203, 101);
    color: black;
}

/* Main Section */
.recipe-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px , 1fr));
    width: 95%;
    margin: 10px auto;
    /* grid-template-columns: 500px 500px ; */
    grid-gap: 30px;
    padding: 15px;
    place-items: center;
}

.recipe{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(8, 7, 7, 0.8) , -5px -10px 10px rgb(6, 5, 5,0.5) ;
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}
.recipe:hover{
    transform: scale(1.01);
}

.recipe img{
    height: 300px;
}
.recipe h3{
    font-size: 25px;
    margin: 5px;
}
.recipe p{
    font-size: 20px;
    color: rgb(61, 54, 54);
    margin: 5px 0;
}
.recipe span{
    font-weight: 700;
}

.recipe button{
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: rgb(201, 77, 77);
    color: white;
    border: none;
}
.recipe button:hover{
    font-size: 21px;
    font-weight: 700;
    background-color: rgb(163, 203, 101);
    color: black;
}

.recipe-details-content{
    padding: 30px;
}
.recipename{
    text-align: center;
    text-transform: uppercase;
    text-decoration:underline;
    margin-bottom: 10px;
}
.IngredientList{
    margin-bottom: 10px;
    margin-left: 20px;
}
.Instructions{
    line-height: 30px;
    white-space: pre-line;
    margin-bottom: 2px;
}
.recipe-closebtn{
    /* border: none; */
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(201, 77, 77);
    color: aliceblue;
    position: absolute;
    /* top: 2%; */
    right: 1%;
}
.recipe-closebtn:hover{
    background-color: rgb(163, 203, 101);
    color: black;
    font-size: 16px;
    font-weight: 550;
}

/* recipe-details */
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate (-50%,-50%);
    border-radius: 10px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    background-color: rgb(201, 77, 77);
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;  
    /* it will give natural scrollbar */
}

.recipe-details::-webkit-scrollbar{
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
    --webkit-border-radius: 10px;
}
body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
    --webkit-border-radius: 10px;
}
body::-webkit-scrollbar-track{
    background-color: antiquewhite;
}




/* Responsive Code */
@media screen and (max-width:600px){
    header nav form{
        width: 80%;
        margin-top: 15px;
    }

    header nav{
        flex-direction: column;
        
    }
}
